/*!
 * Start Bootstrap - Business Frontpage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Brandon Text";
  src: url('../fonts/brandon_text_bold.eot');
  src: url('../fonts/brandon_text_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_text_bold.woff') format('woff'), url('../fonts/brandon_text_bold.ttf') format('truetype'), url('../fonts/brandon_text_bold.svg#brandon_textbold') format('svg');
}
@font-face{font-family:'Proxima';src:url(../fonts/proximanova-regular-webfont.eot?1307578394);src:url("../fonts/proximanova-regular-webfont.eot?iefix") format("eot"),url(../fonts/proximanova-regular-webfont.woff?1307578394) format("woff"),url(../fonts/proximanova-regular-webfont.ttf?1307578394) format("truetype"),url("../fonts/proximanova-regular-webfont.svg#webfont2rpW2ohz") format("svg")}@font-face{font-family:'Proxima';font-style:italic;src:url(../fonts/proximanova-regitalic-webfont.eot?1307578394);src:url("../fonts/proximanova-regitalic-webfont.eot?iefix") format("eot"),url(../fonts/proximanova-regitalic-webfont.woff?1307578394) format("woff"),url(../fonts/proximanova-regitalic-webfont.ttf?1307578394) format("truetype"),url("../fonts/proximanova-regitalic-webfont.svg#webfont2rpW2ohz") format("svg")}@font-face{font-family:'Proxima';font-weight:300;src:url(../fonts/proximanova-light-webfont.eot?1307578394);src:url("../fonts/proximanova-light-webfont.eot?iefix") format("eot"),url(../fonts/proximanova-light-webfont.woff?1307578394) format("woff"),url(../fonts/proximanova-light-webfont.ttf?1307578394) format("truetype"),url("../fonts/proximanova-light-webfont.svg#webfont2rpW2ohz") format("svg")}@font-face{font-family:'Proxima';font-weight:600;src:url(../fonts/proximanova-semibold-webfont.eot?1307578394);src:url("../fonts/proximanova-semibold-webfont.eot?iefix") format("eot"),url(../fonts/proximanova-semibold-webfont.woff?1307578394) format("woff"),url(../fonts/proximanova-semibold-webfont.ttf?1307578394) format("truetype"),url("../fonts/proximanova-semibold-webfont.svg#webfont2rpW2ohz") format("svg")}@font-face{font-family:'Proxima';font-weight:600;font-style:italic;src:url(../fonts/proximanova-semibolditalic-webfont.eot?1307578394);src:url("../fonts/proximanova-semibolditalic-webfont.eot?iefix") format("eot"),url(../fonts/proximanova-semibolditalic-webfont.woff?1307578394) format("woff"),url(../fonts/proximanova-semibolditalic-webfont.ttf?1307578394) format("truetype"),url("../fonts/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz") format("svg")}@font-face{font-family:'Proxima';font-weight:bold;src:url(../fonts/proximanova-bold-webfont.eot?1307578394);src:url("../fonts/proximanova-bold-webfont.eot?iefix") format("eot"),url(../fonts/proximanova-bold-webfont.woff?1307578394) format("woff"),url(../fonts/proximanova-bold-webfont.ttf?1307578394) format("truetype"),url("../fonts/proximanova-bold-webfont.svg#webfont2rpW2ohz") format("svg")}@font-face{font-family:'Proxima';font-weight:bold;font-style:italic;src:url(../fonts/proximanova-boldit-webfont.eot?1307578394);src:url("../fonts/proximanova-boldit-webfont.eot?iefix") format("eot"),url(../fonts/proximanova-boldit-webfont.woff?1307578394) format("woff"),url(../fonts/proximanova-boldit-webfont.ttf?1307578394) format("truetype"),url("../fonts/proximanova-boldit-webfont.svg#webfont2rpW2ohz") format("svg")}@font-face{font-family:'Proxima';font-weight:900;src:url(../fonts/proximanova-extrabold-webfont.eot?1307578394);src:url("../fonts/proximanova-extrabold-webfont.eot?iefix") format("eot"),url(../fonts/proximanova-extrabold-webfont.woff?1307578394) format("woff"),url(../fonts/proximanova-extrabold-webfont.ttf?1307578394) format("truetype"),url("../fonts/proximanova-extrabold-webfont.svg#webfont2rpW2ohz") format("svg")}
/*@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);*/


body {
    font-family:'Proxima';
    padding-top: 69px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    color: #333;
    font-weight: 300;
}
body.grey{
    background-color: #ccc;
}
body.bg-auth{
    background: #ED7D17 url(../img/bg-auth.jpg) no-repeat fixed;
    background-size:cover;
    padding-bottom: 3em;
}
.container-fluid {
    padding-right: 5%;
    padding-left: 5%;
}
h1,h2,h3,h4,h5,h6{
    color: #525252;
    font-weight: 600;
}
p{
    font-size: 110%;
    font-weight: 300;
}
.extension{
        height: 3px;
    overflow: hidden;
    display: block;
}
.extension .vla-red{background:#E0271D;}
.extension .vla-orange{background:#ED7D17;}
.extension .vla-yellow{background:#F4A413;}

.vla-red-bg{background:#E0271D;}
.vla-orange-bg{background:#ED7D17;}
.vla-yellow-bg{background:#F4A413;}

.vla-red-text{color:#E0271D;}
.vla-orange-text{color:#ED7D17;}
.vla-yellow-text{color:#F4A413;}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #F3F3F3;
}
.navbar-inverse {
    background-color: rgba(255, 255, 255, 0.95);
    border-color: transparent;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
    min-height: 67px;
}
.navbar-inverse .navbar-toggle {
    border-color: rgba(181, 181, 181, 0);
    background: #CACACA;
    margin-top: 14px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgba(51, 51, 51, 0.19);
}
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav>li>a {
/*    color: #525252;*/
		color: rgb(48,53,60);
    padding: 23px 15px;
}
.navbar-inverse .navbar-nav>li:hover>a {
    color: #E0271D;
}
.navbar-nav>li>a.signup{
        border: 2px solid;
        Border-radius: 5px;
        padding: 7px 10px;
        margin-top: 13px;
        margin-left: 10px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #F4A413;
}
.business-header,.course-header {
    height: auto;
/*  background: #ED7D17 url("../img/bg-img2.jpg") no-repeat center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    padding: 45px 0 40px;
}
.course-header{
    height: auto;
    background:#525252 url("../img/blurry.jpg") top center repeat-y fixed;
    background-size: 100%;
}
.no-bg-img{
    background-image: none !important;
}
.transparent{
    background-color: rgba(0,0,0,0) !important;
}

.course-header.dash{
/*    background-image: none;*/
    background-color: #607d8b;
}
.img-top-core{
    border: 7px solid;
    padding: 0px;
}
.vla-dark{
	background-color: rgb(48,53,60)!important;
	background-image: none;
}
.course-header.foot{
    background:#405465 url(../img/discovery-img3.jpg) no-repeat fixed;
    background-size:    cover;
}
.btn{
	border-radius: 0px
}
.btn-primary {
    color: #fff;
    background-color: #F4A413;
    border-color: #CA8F25;
}
.btn-primary:hover {
    color: #fff;
    background-color: #ED7D17;
    border-color: #BD7534;
}
/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    /*text-shadow: 0 0 10px #000;*/
    color: #fff;
}

.img-center {
    margin: 0 auto;
}
.img-profile{
    margin-top: 7px;
        border: 5px solid #e0271d;
    border-radius: 50%;
}
.progression{}
.progress{
        height: 5px;
/*
    margin-bottom: 0;
    margin-top: 7px;
*/
}
#Courses .progress{
    height: 20px;
}
.weekly img{
    opacity:0.90;
    transition: all ease 0.2s;
}
.weekly img:hover{
    opacity:1;
    transition: all ease 0.2s;
}

.weekly img.translucent{opacity: 0.35}
.weekly img.active{
        border: 3px solid #F5F5F5;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.84);
    opacity:    1;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px solid #ddd;
}
.panel-group > .panel.panel-course{
    border:none;
    padding: 0;
    box-shadow: none;
    margin-bottom: 35px;
}
.panel-course.active,
.panel-course.selected{
        padding: 5px 15px 0px;
    border: 2px solid #72AB5A;
    margin: 25px 0;
}
.panel-course.selected{
    border: 0px solid #ccc;
    padding:0;
}
.panel-course>.panel-heading {
    background-color: transparent;
    padding: 0;
}
.panel-course>.panel-heading img{
    margin-bottom: 15px;
}
.panel-course .panel-body {
    background-color: transparent;
    padding: 15px 0;
}
.panel-course .panel-title a{
    /*padding: 10px 0 5px;*/
    /*display: block;*/
}
.panel-course .panel-title a p,
.panel-course .panel-title p{
    font-size: 100%;
    font-weight: 300;
    text-decoration: none;
    color: #666;
    text-align: justify;
}
.panel-course .panel-title a h3{
    margin: 0 0 10px;
}
.dotted-label {
    border: 1px dotted;
    padding: 3px 8px;
    border-radius: 50px;
    color: #259FB1;
}
.panel-notify{
    background: #e0e0e0;
    padding: 6px;
}
.table.table-course.table-border {
    border: 1px #eee solid;
}
.table.table-course>tbody>tr>td, .table.table-course>tbody>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #eee;
    height: 45px;
}
.library-body{
	background-color: rgb(245,245,245) !important;
}
.gap {
		margin: 20px;
		font-size: 8px;
		vertical-align: middle;
}
.course-item{
/*	padding:10px;*/
	min-height: 400px;
	margin: 25px 0;
}
.course-link > h4, .course-link > p{
	padding: 0 10px;
}
.course-link > h4{
	padding-top: 5px;
}
.course-link:hover{
	text-decoration: none!important;
}
.course-icon{
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.course-underline{
	width: 30px;
	margin: 0 auto 10px;
	border: 0;
	border-bottom: 2px solid #999;
}

.category-item {
	vertical-align: middle;
	height: auto;
	margin: 20px 0;
}
.category-item button{
	margin: 10px 0;
	
}
.category-row{
	padding: 15px!important;
}
.category-icon{
	padding: 0;
	max-width: 100%;
}
.staff-dashboard{
	background-color: rgb(245,245,245);
}

/*Manager's dashboard style*/
.manager-dashboard{
	background-color: rgb(245,245,245);
}
.btn-quick-actions{
	color: rgb(40,90,150);
/*	background-color: #fff;*/
	font-family: "Brandon text";
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 7px;
	border-radius: 0px;
}
.btn-quick-actions>div{
	margin-top: 10px;
}
.manager-head p{
	margin: 0;
}
.manager-section{
	margin: 50px 0;
}
.manager-section .panel{
	min-height: 250px;
	margin-bottom: 25px;
	border-radius: 0px;
}

.manager-dashboard .manager-header{
	width: 100%;
	height: 200px;
	padding: 25px 0 ;
	border-radius: 5px 5px 0 0;
}
.manager-tab-left{
	padding: 75px 0;
}
#staff .manager-tab-left{
	background-image: url(../img/staff-blur.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 248px;	
}
#manager .manager-tab-left{
	background-image: url(../img/manager-blur.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 248px;	
}
#course .manager-tab-left{
	background-image: url(../img/course-blur.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 248px;	
}
.manager-tab-left h2{
	margin-top: 75px;
	font-size: 3em;
	line-height: 100px;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #333;
}
.manager-tab-right h2{
	font-size: 3em;
	line-height: 40px;
	text-transform: uppercase;
	margin: 0 0 15px;
}
.manager-tab-right{
	padding: 25px;
}
#course .manager-tab-right h4{
	color: rgb(40,90,150);
}
.manager-tab-right p{
	min-height: 90px;
	max-height: 100px;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: clip;
	text-align: justify;
}
.manager-icon{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin: 0 auto;
	background-size: 150%;
}
.manager-dashboard .manager-header h2{
	color: rgb(237,125,23);
}
.course-blue{
	color: rgb(40,90,150);!important;
}
.manager-red{
	color: rgb(224,39,29)!important;
}
.manager-icon h1{
	line-height: 120px !important;
}
.manager-header h2{
	margin: 0;
	color: #fff;
	font-size: 2.5em;
	font-weight: 500;
	line-height: 50px;
	text-transform: uppercase;
}
.staff-pattern{
	background-color: rgb(237,125,23);
	background-image: url(../img/diagonal-noise.png);
	background-repeat: repeat;
	background-blend-mode: overlay;
}
.manager-pattern{
	background-color: rgb(224, 39, 29);
	background-image: url(../img/diagonal-noise.png);
	background-repeat: repeat;
	background-blend-mode: overlay;
}

.course-pattern{
	background-color: rgb(40,90,150);
	background-image: url(../img/diagonal-noise.png);
	background-repeat: repeat;
	background-blend-mode: overlay;
}
.btn-staff{
	background-color: rgb(237,125,23);
	border-radius: 0;
}
.btn-staff:hover{
	background-color: rgb(237,105,3);
}
.btn-manager{
	background-color: rgb(224, 39,29);
	border-radius: 0;
}
.btn-manager:hover{
	background-color: rgb(237,19,9);
}
.btn-course{
	background-color: rgb(40,90,150);;
	border-color: rgb(75,104,130);
	border-radius: 0;
	color: #fff;
}
.btn-course:hover{
	background-color: rgb(50,80,150);
	border-color: rgb(75,104,130);
	color: #fff;
}
.manager-content{
	padding: 15px 30px 0;
}
.manager-content p{
	min-height: 155px;
}

.manager-header h1{
	line-height: 50px;
	color: #fff;
	width: 100%;
	font-size: 3em;
}
.discussion-header{
	background-color: rgb(237,125,23);
	background-image: url(../img/diagonal-noise.png);
	background-repeat: repeat;
	background-size: 50%;
	background-blend-mode: overlay;
	height: 50px;
	width: 100%;
	padding: 0;
/*	border-radius: 5px 5px 0 0;*/
}
.discussion-header h4{
/*	color: #fff;*/
	line-height: 50px;
	text-transform: uppercase;
}
.l-comment{
    background: #fff;
    padding: 0 10px 10px;
    height: 375px;
    overflow-x: auto;
    box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.43);
}
#comment{
	height: 462px;
	overflow-y: scroll;
    box-shadow: inset -4px 1px 9px rgba(0, 0, 0, 0.25);
    background: #fff;
}
.admin-dash #comment{
	height: 737px !important;
}
#comment .media-left, #comment .media-body{
	padding: 10px;
}
.comment-read{
	background-color: rgb(240,240,240);
}
#comment::-webkit-scrollbar {
    width: 10px;
		margin-right: 10px;
}
#comment::-webkit-scrollbar-track {
    background: #eee; 
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#comment::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(150,150,150,0.8);  
}
#comment::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(120,120,120,0.4); 
}

.mycourses-board{
	min-height: 200px;
}

.manager-dash{
	padding-bottom: 75px;
}
.manager-dash .manager-header{
	padding: 25px;
	background-size: 25%
}
/*
.manager-dash h2{
	line-height: 100px;
}
*/
.manager-dash .well{
	border-radius: 0;
	background-color: rgb(245,245,245);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}
.manager-dash-sidebar .list-group-item{
	font-size: 18px;
	font-weight: bold;
	line-height: 50px;
	min-height: 50px !important;
	border-radius: 0 !important;
}
.manager-dash-sidebar .hr-xs{
	width: 50px;
	border: solid 1px;
	color: #fff;
	margin: 10px auto;
}
.sm-gap{
	margin: auto 10px;
}
.manager-dash .manager-header{
	min-height: 100px;
	border-radius:0;
}
.manager-dash .manager-header>h2{
	line-height: 50px;
	font-weight: 500;
}
.manager-dash .course-pattern{
	background-size: 25%;
}
#addStaff, #editProfile, #myProfile{
	padding: 50px 0 100px;
}
.manager-dash h2{
	margin-top: 0;
}
#addStaff .well, #editProfile .well, #myProfile .well{
	box-shadow: none;
	margin: 0;
}
.manager-dash .staff-tab{
	min-height: 325px;
	background-color: #fff;
}
#editProfile .staff-tab{
	min-height: 360px;
}
#myProfile .staff-tab{
	min-height: 275px;
}
#editProfile .btn{
	height: 40px;
	line-height: 26px;
}
#myProfile h4{
	font-size: 1.5em;
	font-weight: normal;
}
#myProfile h6{
	font-size: 1.4em;
	font-weight: normal;
}
.manager-dash td{
	font-size: 16px;
}
.staff-tab h5{
	margin-bottom: 5px;
}
.vla-bg-black{
	background-color: rgb(48,53,60)!important;
}
.vla-bg-grey{
	background-color: rgb(159,166,180)!important;
}
.vla-bg-header{
	background-color: #607d8b !important;
}
.profile-bg{
	background-color: rgba(159,166,180,.2)!important;
}
.staff-avatar{
	background-color: #efefef;
	border: solid 3px rgb(48,53,60);
/*	border: solid 3px rgb(159,166,180);*/
	border-radius: 50%;
	padding: 5px;
	margin: 0 auto 25px;
	display: block;
}

#addStaff .modal-footer{
	text-align: center;
}
#addStaff .modal .glyphicon{
	font-size: 5em;
	color: rgb(50,220,100);
}
#addStaff .modal .success-icon{
	font-size: 5em;
	color: rgb(50,220,100);
}
.modal-body.test-modal{
	padding: 10px 25px 15px;
}

/*styles for addCourse*/
.manager-panel{
	width: 100%;
	height: 50px;
	background-color: #fff !important;
	border: solid 1px rgb(220,220,220);
	border-radius: 3px;
	margin-bottom: 10px;
}
.manager-panel p{
	padding: 0 0 0 20px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	color: rgb(99,99,99);
}
#modules .manager-panel{
	cursor: move;
}
#modules small{
	line-height: 20px;
}
.mng-input{
	height: 40px;
	margin-bottom: 15px;
	width: 100%;
	border-radius: 0px !important;
}
.mng-btn a{
	display: inline-block;
	width: 50px;
	height: 48px;
	background-color: rgb(220,220,220);
	cursor: pointer;
}
.mng-btn i{
	color: rgba(99,99,99,.9);
	font-size: 24px;
}
.mng-edit{
	border-right: solid 1px rgba(255,255,255,0.5);
}
.mng-delete{
	border-left: solid 1px rgba(255,255,255,0.5);
	border-radius: 0 3px 3px 0;
}
.mng-delete i:hover{
	color: rgba(255,99,99,.9);
}
.mng-edit i:hover{
	color: rgba(99,99,255,.9);
}

#author .panel-heading{
	background-color: rgb(245,245,245);
	border-bottom: 1px solid rgb(221,221,221);
	border-radius: 3px 3px 0 0;
}
#author a{
	text-decoration: none;
	color: rgb(33,33,33);
}
/*mange course & manage staff*/
.vla-header{
	padding: 25px 0;
}
.manage-course .panel-heading, .manage-course .panel-footer{
	padding: 10px 0!important;
}
.panel, .panel-heading, .panel-footer .form-control{
	border-radius: 0px;
}
.mng-table-padding{
	padding-left: 5%;
	padding-right: 5%;
	margin-left: -15px;
	margin-right: -15px;
}
.manage-course .staff-table img{
	border-radius: 50%;
}
.manage-course .well{
	background-color: #fff;
	box-shadow: none;
	border: 0px;
}
.manage-course select{
	border-radius: 0px;
}
.manage-course .table p{
	font-size: 16px;
	line-height: 32px;
	margin: 0;
}
.manage-course .table h4{
	color: rgb(51,122,183);
	margin: 0;
	text-transform: capitalize;
}
.filter-section{
	padding: 10px 0;
}
.filter-section label{
	color: #fff;
}
.mng-checkbox{
	height: 34px;
/*	padding-right: 15px;*/
}
.mng-checkbox input, .mng-checkbox label{
	vertical-align: top;
}
.regular-checkbox {
	display: none;
}
.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 0px;
	display: inline-block;
	position: relative;
}
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}
.manager-dash textarea{
	resize: none;
	border-radius: 0;
}
/*
#testModal textarea{
	resize: none;
	border-radius: 0;
}
#testModal .modal-body{
	max-height: 520px;
	overflow-y: scroll;
}

.test-modal::-webkit-scrollbar {
    width: 10px;
		margin-right: 10px;
}
.test-modal::-webkit-scrollbar-track {
    background: #ddd; 
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.test-modal::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(120,120,120,0.8);  
}
.test-modal::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(120,120,120,0.4); 
}
.test-modal li{
	font-size: 18px;
	font-weight: 600;
}
.test-question{
	font-weight: 300;
}
.test-question h4{
	font-weight: normal;
}
*/
/*--END OF-- Manager's Dashboard */

.manager-dash .test-header{
	min-height: 50px;
	padding: 25px;
	line-height: 25px;
}
.radio-btn> .btn-default.active{
	background-color: #286090;
	border-color: #204d74;
	color: #fff;
}
.radio-btn> .btn-default.active:hover{
	background-color: #204d74
}
/*Error Pages styles*/
#error-page h1{
	color: #607d8b;
	font-size: 6em;
	line-height: 200px;
	margin: 0;
}
#error-page .circle{
	width: 200px;
	height: 200px;
	border: 5px solid #607d8b;
	border-radius: 50%;
	display: inline-block;
}

#error-page h2{
	color: #607d8b;
	font-size: 3em;
}
#error-page p{
	color: #607d8b;
	font-size: 2em;
}
#error-page .btn{
	color: #607d8b;
/*	border: 2px solid rgb(48,53,60);*/
	border: 2px solid #607d8b;
	font-size: 1.1em;
	padding: 10px 20px;
	transition: 0.5s ease;
}
#error-page .btn:focus, #error-page .btn:hover{
/*	background: rgb(48,53,60);*/
	background: #607d8b;
	color: #fff;
	transition-delay: 0.1s;
}
/*End*/

.resources{
    border: 1px solid #ccc;
    padding: 5px 5px 0;
    border-radius: 5px;
}
.resources>.list-group>.list-group-item{
    padding: 5px 3px
}
.resources .heading{
    margin: 0 0 10px;
    padding: 10px;
    background: #525252;
    border-radius: 3px 3px 0 0;
}
.list-group-module>.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    min-height: 80px;
    border-radius: 5px;
}
.list-group-module>.list-group-item.active{
    background-color: #4b6882;
    border-color: #4b6882;
}
form.well{
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.35);
    border: none;
    background-color: rgba(247, 247, 247, 0.79);
}
form.well input, 
form.well select{
    border-width: 0 0 1px;
    border-radius: 0 0 0 0;
    background-color: transparent;
    box-shadow: none;
    border-color: #aaa;
    transition: all ease 0.2s;
    padding: 0px;
}
form.well input:focus, 
form.well select:focus{
    box-shadow: none;
    transition: all ease 0.2s;
    padding: 10px;
}
.well.wella{
    background: #4b6882;
    color: #fff;
    border-radius: 0;
}
.well > .heading{
    background: #F7F7F7;
    margin: -20px -30px 15px;
    padding: 25px 0;
    color: #fff;
}
.leaderboard{
    background: url(../img/leaderboard-img.jpg) center;
    min-height: 439px;
}
.weekly.active:before,
.btn-success.btn-wk:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #fff;
    position: absolute;
    top: 140%;
    left: 40%;
    margin-left: -20px;
}
ol.question-group{
    padding: 15px
}
.question {
    margin: 0 0 35px;
    border-bottom: 1px solid #ccc;
}
.question:last-child{
    border:none;
}
.question.wrong .q-text{
    color: red
}
.q-text {
    font-weight: bold;
}
.q-answer.alert{
    padding: 10px 20px;
}
.alert.alert-auth{
    margin: -15px -20px 18px;
    border-radius: 0;
    padding: 14px 20px;
}
.alert.alert-auth .close{
    margin: 0 3px;
}
.paper{
    background: #fff;
    padding: 20px;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.100), 3px 3px 0 rgba(255, 255, 255, 1.0), 4px 4px 0 rgba(0, 0, 0, 0.125), 6px 6px 0 rgba(255, 255, 255, 1.0), 7px 7px 0 rgba(0, 0, 0, 0.150), 9px 9px 0 rgba(255, 255, 255, 1.0), 10px 10px 0 rgba(0, 0, 0, 0.175);
}
.col-box{
    padding: 2.5% 6.5%;
    min-height: 350px;
}
iframe{
    border-bottom: 5px solid #72AB5A;
    border-top: 5px solid #8D6298;
}
footer {
    /*margin-top: 45px;*/
    padding: 45px 0 25px;
/*    background: #525252;*/
	background: rgb(48,53,60);
/*    color: #666;*/
	color: #eee;
}
footer h5{
	color: rgb(159,166,180);
	font-weight: bold;
	font-size: 16px;
}
footer a{
    color:  #eee;
}
.center-text{
    text-align: center;
}
.text-brandon {
  font-family: "Brandon Text";
  font-weight: normal;
}
.space-lg {
  letter-spacing: 4px;
}
.text-300{
	font-weight: 300;
}
.text-600{
	font-weight: 600;
}
.text-bold{
    font-weight: bold;
}
.text-normal{
	font-weight: normal;
}
.text-italics{
	font-style: italic;
}
.hr-xs{
    width: 100px;
}
.hr-sm{
    width: 150px;
}
.hr-lg{
    width: 50%;
}
.separator {
  min-height: 1px;
  display: block;
}
.separator-xs {
  padding-top:20px;
  padding-bottom:20px;
}
.separator-sm {
  padding-top:30px;
  padding-bottom:30px;
}
.border-bottom-thin{
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.no-bod-rad{
    border-radius: 0 0 0 0 !important;
}
.no-border{
    border:0;
}
.no-bg-img{
    background-image: none;
}
.no-margin{
    margin:0 !important;
}
.no-padding{
    padding:0 !important;
}
.no-pad-top{
    padding-top: 0;
}
.pad-sm{
    padding: 2px;
}
.no-shadow{
    box-shadow: none;
}
.fa-abs-x{
    position: absolute !important;
    bottom: 5px;
    right: 5px;
    text-shadow: 0 1px 3px rgba(51, 51, 51, 0.45);
}
.text-white{
    color:#fff;
}
.text-black{
    color: #333;
}
.text-purple{
    /*color: #612571;*/
    color: #CC9342
}
.text-green{
    color: #5cb85c;
}
.text-purple-light{
    color: #8D6298;
}
.text-green-deep{
    color: #5cb85c;
}
.text-shadow-xs{
    text-shadow: 0 1px 2px rgba(51, 51, 51, 0.58);
}
.text-shadow-sm{
    text-shadow: 0 1px 5px rgba(51, 51, 51, 0.58);
}
.text-shadow-lg{
    text-shadow: 0 1px 7px rgba(51, 51, 51, 0.58);
}
.tiny-me{
    font-size: 11px;
    display: inline-block;
    line-height: 13px
}
.text-circle-sm{
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
}
.bg-purple{    
    background-color: #612571;
}
.bg-grey{
    background-color: rgb(245,245,245);
}
.bg-dark-grey{
	background-color: rgb(66,66,66);
}
.bg-medium-grey{
background-color: rgb(230,230,230);
}
/*Progress bar*/

.one, .two, .three{
    position:absolute;
    margin-top:-10px;
    z-index:1;
    height:40px;
    width:40px;
    border-radius:25px;
    
}
.one{
    left:25%;
}
.two{
    left:50%;
}
.three{
    left:75%;
}
.primary-color{
    background-color:#4989bd;
}
.success-color{
    background-color:#5cb85c;
}
.danger-color{
    background-color:#d9534f;
}
.warning-color{
    background-color:#f0ad4e;
}
.info-color{
    background-color:#5bc0de;
}
.no-color{
    background-color:inherit;
}
.btn-group{
    margin-bottom: 30px;
}
.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
border-top-left-radius: 0;
border-bottom-left-radius: 0;
    border-right: 0;
}
.btn-group-justified>.btn-group .btn {
    width: 100%;
    border-width: 0 1px 1px 0;
    padding:20px 0;
    color: #ed7d17;
}
.btn-group-justified>.btn-group .btn-sm{
    padding: 3px 0;
}
.btn-group-justified>.btn-group .btn.on,.btn-group-justified>.btn-group .btn.on:hover{
    background: transparent;
    cursor: default;
    border-bottom: none;
    color: #333;
}
.nav-tabs.nav-justified a{
	padding: 20px 0;
	border-radius: 0px !important;
	border-top-width: 0px;
	color: #ed7d17;
	font-weight: normal;
}
.nav-tabs.nav-justified a:last-child{
	border-left: solid #eee 1px;
}
#owl-demo.modules.owl-carousel .owl-wrapper-outer{
/*    overflow: visible !important;*/
}
#owl-demo .item{
  display: block;
  cursor: pointer;
  background: #fff;
  padding: 0px 10px 5px 15px;
  margin: 10px 6.5% 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  min-height: 270px;
  border-radius: 3px;
/*  text-align: center;*/
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    transition:all ease-in 0.3;
    overflow: hidden;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

}
#owl-demo .item.mod{
    min-height: 120px;
    overflow: visible;
}
#owl-demo .item .img-holder{
/*        margin: 1.1%;*/
    height: 150px;
/*    width: 97%;*/
    overflow: hidden;
  background: #ccc; 
}
#owl-demo .item.in-progress h1{
    border: 2px solid;
    height: 70px;
    width: 70px;
    color: #fff;
    background: #f4a413;
    border-radius: 50%;
    margin: 10px 0 0;
    font-size: 2.75rem;
    line-height: 65px;
}
#owl-demo .item.in-progress h1:after{
    content: "%"
}
#owl-demo .item:hover{
  background: #eee;
    transition:all ease-in 0.3s;
}
#owl-demo .item.in-done h1{
        width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #5cb85c;
    line-height: 70px;
    margin: 10px 0 0;
}
#owl-demo .item.active{
    border: 5px solid #8BC34A;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
#owl-demo .item.active:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #8bc34a;
    position: absolute;
    bottom: -23%;
    left: 46%;
    margin-left: -20px;
}
@media (max-width: 1200px) {
    .center-text{
        text-align: left;
    }
}
@media (max-width: 768px){
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #FFFFFF;
    }
    li.divider {
        background-color: #e5e5e5;
    }
    .center-text{
        text-align: left;
    }
    .panel-course.selected{
        border: 0px solid #ccc;
        padding:  0px;
    }
    .paper{
        padding: 10px;
            box-shadow:0 2px 3px;
    }
    .btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
        /*border-right: 1px solid #ccc;*/
    }
    .btn-group-justified>.btn-group .btn {
        width: 100%;
        /*border-width: 1px 1px 1px 1px;*/
        padding:15px 0;
    }
    .btn-group-justified>.btn-group .btn-sm {
        padding: 3px 0;
    }
    .weekly.active:before{
        display: none
    }
}
@media (max-width: 990px){
    .weekly.active:before{
        top:155%;
    }
}


.panel-info{
	padding: 5px 15px;
}
.panel-info h5{
	color: #555;
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	
}
.panel-info p{
	color: #333;
	display: inline;
	font-size: 16px;
	font-weight: normal;
}

.panel-content{
	margin-bottom: 10px;
}